<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table align="center">
        <tr>
            <td>Name:<input type="text"></td>
        </tr>
        <tr>
            <td>Email:<input type="text"></td>
        </tr>
        <tr>
            <td>Password:<input type="Password"></td>
        </tr>
        <tr>
            <td>Confirm Password:<input type="text"></td>
        </tr>
        <tr>
            <td>Age:<input type="text"></td>
        </tr>
        <tr>
            <td>Phno:<input type="text"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>